.footer
  a(target="_blank", href="/")
    span   
  a(href="https://class.radiastu.com") 
  span Created by 
  a(href="https://radiastu.com") YX Lin 
  .by_farbox
    a(href="https://pages.coding.me") Hosted by Coding Pages
